@font-face {
    font-family: "iransans" !important;
    src: url("css/iransans-web.ttf") !important;
  }
  * {
    font-family: "iransans" !important;
  }
html, body {width: 100%; height: 100%;}
.wall {width: 100%; height: 100%;
    background-image: url(../img/icon-wall.jpg);
    overflow: hidden;
    background-color: #121936;
    background-size: 100% 100% ;
    background-position: center center;
    background-repeat: no-repeat;}
.photos-wall {width:100%; height:100%;}
.messages {width: 30%;  float: left;  position: relative; top: 52px; left: 0}


